POSTGRES_USER='rails7'
POSTGRES_PASSWORD='rails7'
POSTGRES_HOST_AUTH_METHOD=trust
POSTGRES_DB='rails7_development'
POSTGRES_PRODUCTION_DB='rails7_production'
POSTGRES_HOST='postgres'
POSTGRES_PORT=5432
